<style>
	.mouseOver:hover {
		cursor: pointer;
		cursor: hand;
	}
	
	/* the top nav bar hides table caption so add padding here */
	.navBarSpacer {
		padding-top: 41px;
	}
</style>

<div id="table" ng-app="dashboard" class="navBarSpacer">
	<div ng:controller="devicesController">
		<table class="table table-striped table-hover table-condensed">
			<caption>
				<span ng-show="!!devices.length" class="badge badge-default">{{devices.length}} devices found</span>
				<span ng-show="!!devices.length" class="badge badge-default">{{getActiveDevicesCount()}} active</span>				
				<span ng-show="!!error" class="badge badge-important">Problem getting the latest data!</span>
				<span class="badge badge-default">updating data in {{secondsToUpdateText()}}...</span>
			</caption>
			<thead>
				<tr class="success">
					<th>IP address</th>
					<th>Browser</th>
					<th>Device name</th>
					<th>Last seen <i class="icon-chevron-down"></i></th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="device in devices" ng-class="{error: device.lastSeenError, warning: device.lastSeenWarning}">
					<td>{{device.ip}}</td>
					<td>{{device.browser}}</td>
					<td>{{device.name}}</td>
					<td>{{device.lastSeen}}</td>
					<td ng:click="edit(device)"><i class="icon-pencil mouseOver"></i></td>
				</tr>
			</tbody>
		</table>		
	</div>
	<hr/>
	<div ng:controller="configController">
		<button class="btn btn-inverse" ng:click="modalShown=true">Settings</button>
		
		<div ui-modal ng:model="modalShown">
			<div class="modal-header">
				<h1>Settings</h1>
			</div>
			<div class="modal-body">
				<p><span>Device warning threshold</span> <strong>{{deviceWarningThreshold}}s</strong><i rel="tooltip" title="You can use deviceWarningThreshold querystring parameter to override this setting." class="icon-question-sign"></i></p>
				<p><span>Device error threshold</span> <strong>{{deviceErrorThreshold}}s ( {{ deviceErrorThreshold / (60*60) }} hours )</strong><i rel="tooltip" title="You can use deviceErrorThreshold querystring parameter to override this setting." class="icon-question-sign"></i></p>
				<p><span>Device too old threshold</span> <strong>{{deviceTooOldThreshold}}s ( {{ deviceTooOldThreshold / (24*60*60) }} days )</strong><i rel="tooltip" title="You can use deviceTooOldThreshold querystring parameter to override this setting." class="icon-question-sign"></i></p>		
				<p><span>Dashboard refresh interval</span> <strong>{{refreshInterval}}s</strong><i rel="tooltip" title="You can use refreshInterval querystring parameter to override this setting." class="icon-question-sign"></i></p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-info" ng-click="modalShown=false" href="">Close</a>
			</div>
		</div>
	</div>
	<div ng:controller="editController">
		<div ui-modal ng:model="modalShown">
			<div class="modal-header">
				<h1>Edit device</h1>
			</div>
			<div class="modal-body">
				<form name="myForm" novalidate>
					<p><span>Testswarm ID</span> <strong>{{device.id}}</strong></p>
					<p><span>IP address</span> <strong>{{device.ip}}</strong></p>
					<p><span>Browser name</span> <strong>{{device.browser}}</strong></p>		
					<p class="control-group" ng:class="{'text-error': myForm.name.$invalid}">
						<span>Device name</span>
						<input type="text" name="name" ng-model="device.name" size="30" placeholder="device name" required />
						<span ng-show="myForm.name.$error.required">Required</span>
					</p>
					<p><span>Last seen</span> <strong>{{device.lastSeen}}</strong></p>				
					<p><span>Created</span> <strong>{{device.created.toString()}}</strong></p>				
				<form>
			</div>
			<div class="modal-footer">
				<span ng-show="saving">Saving...</span>
				<button class="btn btn-success" ng-click="save()" ng-disabled="saving || myForm.$invalid" type="submit">Save</button>
				<button class="btn btn-danger" ng-click="close()" ng-disabled="saving" type="button">Cancel</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/testswarm/js/angular.min.js"></script>
<script type="text/javascript" src="/testswarm/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/testswarm/js/angular-ui.min.js"></script>
<script type="text/javascript" src="/testswarm/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/testswarm/js/bootstrap-tooltip.js"></script>
<script type="text/javascript">
	angular
		.module('dashboard', [ 'ngResource', 'ui' ])
		.factory('config', [function () {
			/// <summary>Gets all query string parameters and returns them as an array.</summary>
			function getQueryStringParams()
			{
				var vars = [], hash;
				var q = document.URL.split('?')[1];
				if (q != undefined)
				{
					q = q.split('&');
					for (var i = 0; i < q.length; i++)
					{
						hash = q[i].split('=');
						vars.push(hash[1]);
						vars[hash[0]] = hash[1];
					}
				}

				return vars;
			}
			
			var params = getQueryStringParams();
			
			var config = { 
				deviceWarningThreshold: params['deviceWarningThreshold'] || window.SWARM.conf.client.pingTime + window.SWARM.conf.client.pingTimeMargin,
				deviceErrorThreshold: params['deviceErrorThreshold'] || 60 * 60,
				deviceTooOldThreshold: params['deviceTooOldThreshold'] || 60 * 60 * 24 * 15,	// consider devices older than 15 days as not relevant
				refreshInterval: params['refreshInterval'] || 5
			};
			
			return config;
		}])
		.factory('api', ['$resource', 'config', function ($resource, config) {
			return $resource('api.php', { }, { 
				'query': { method: 'POST', params: { deviceTooOldThreshold: config.deviceTooOldThreshold, action: 'dashboardRefresh' } },
				'save': { method: 'POST', params: { action: 'setDeviceName' } }
			});
		}]);
		
	function configController($scope, config) {
	   $scope.deviceWarningThreshold = config.deviceWarningThreshold;
	   $scope.deviceErrorThreshold = config.deviceErrorThreshold;	   
	   $scope.deviceTooOldThreshold = config.deviceTooOldThreshold;
	   $scope.refreshInterval = config.refreshInterval;
	}
	
	function editController($scope, api) {
		$scope.$on('edit', function (event, device) {
			$scope.device = device;
			$scope.modalShown = true;
			//$("[rel=tooltip]").tooltip();	// TODO: make this tooltip work
		});
		
		$scope.save = function() {
			$scope.saving = true;
			
			api.save($scope.device.data(), function() {
				$scope.saving = false;
				$scope.close();
				// TODO: force data refresh in devicesController straight away by raising an event
			});
		}	

		$scope.close = function() {
			$scope.modalShown = false;
			$scope.device = null;
		}
	}
	
	// Device class
	function Device (device, now, deviceErrorThreshold, deviceWarningThreshold) {
		this.id = parseInt(device.id);
		this.ip = device.ip;
		this.browser = device.browser;
		this.updated = new Date(device.updated * 1000);
		this.created = new Date(device.created * 1000);
		this.name = device.name || this.id;
		
		var lastSeenSeconds = (now - this.updated) / 1000;
		this.lastSeen = getLastSeenText(lastSeenSeconds);
		this.lastSeenError = lastSeenSeconds > deviceErrorThreshold;
		this.lastSeenWarning = !this.lastSeenError && lastSeenSeconds > deviceWarningThreshold;			
		
		this.data = function() {
			return {
				id: this.id,
				name: this.name
			}
		}
		
		function getLastSeenText(seconds) {
			var daysDifference = Math.floor(seconds/60/60/24);
			seconds -= daysDifference*60*60*24;

			var hoursDifference = Math.floor(seconds/60/60);
			seconds -= hoursDifference*60*60;

			var minutesDifference = Math.floor(seconds/60);
			seconds -= minutesDifference*60;
			
			var result = [];
			
			if(daysDifference > 0) {
				result.push(daysDifference);
				result.push('days');
			}
			
			if(hoursDifference > 0) {
				result.push(hoursDifference);
				result.push('hours');
			}
			
			if(minutesDifference > 0) {
				result.push(minutesDifference);
				result.push('minutes');
			}
			
			if(result.length == 0) {
				result.push('less than a minute');
			}
			
			result.push('ago');
			
			return result.join(' ');
		}
	}
		
	function devicesController($scope, $timeout, api, config) {
		$scope.secondsToUpdate = 0;
		
		$scope.refresh = function () {

			if ( $scope.secondsToUpdate <= 0 ) {	
				$scope.error = false;
				api.query(function(result) {
					$scope.serverTime = new Date(result.dashboardRefresh.serverTime * 1000); // convert unix timestamp to javascript date
					
					var devices = [];
					
					for(var i = 0; i < result.dashboardRefresh.devices.length; i++) {
						var device = new Device(result.dashboardRefresh.devices[i], $scope.serverTime, config.deviceErrorThreshold, config.deviceWarningThreshold);
						devices.push(device);
					}
					
					// TODO: Find a better way of updating the devices on the scope. Need to update rather than overwrite. Try to find a way to intercept class creation in the resource service.
					$scope.devices = devices;
					$scope.secondsToUpdate = config.refreshInterval;			
					$timeout( $scope.refresh, 1000 );
				}, function() {
					$scope.secondsToUpdate = config.refreshInterval;	
					$scope.error = true;
					$timeout( $scope.refresh, 1000 );
				});				
			} else {
				$scope.secondsToUpdate--;
				$timeout( $scope.refresh, 1000 );
			}
		}
		
		$scope.secondsToUpdateText = function () {
			return $scope.secondsToUpdate <= 0 ? 'in progress' : $scope.secondsToUpdate + 's';
		}
		
		$scope.edit = function (device) {
			$scope.$root.$broadcast('edit', angular.copy(device)); 
		}
		
		$scope.getActiveDevicesCount = function () {
			var counter = 0;
			if ( !$scope.devices ) {
				return counter;
			}
			
			for(var i = 0; i < $scope.devices.length; i++) {
				var device = $scope.devices[i];
				if( !device.lastSeenError && !device.lastSeenWarning ) {
					counter++;
				}
			}					

			return counter;
		}
		
		$scope.refresh();
	}
</script>